.Artists {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-block: 25px;
    justify-content: center;
    align-items: center;
    .panel {
        width: 45%;
        min-width: 485px;
        @media (max-width: 1094px) {
            width: 90%;
        }
    }
    .header {
        padding-block: 5px;
        margin: 2.5px;
        margin-block: 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        width: 100%;
        min-width: 395px;
        border-radius: 7.5px;
        cursor: pointer;

        transform: scale(0.96);
        p {
            font-weight: bold;
        }
        .title,
        .artist {
            width: 175px;
            text-align: center;
            word-break: break-word;
        }
        .avatar {
            border-radius: 7.5px;
            margin-left: 15px;
            margin-right: 105px;
        }
        .index {
            width: 40px;
            text-align: center;
        }
    }
    .header2 {
        padding-block: 5px;
        margin: 2.5px;
        margin-block: 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        width: 100%;
        min-width: 395px;
        border-radius: 7.5px;
        cursor: pointer;

        transform: scale(0.96);
        p {
            font-weight: bold;
        }
        .title,
        .artist {
            width: 175px;
            text-align: center;
        }
        .avatar {
            border-radius: 7.5px;
            margin-left: 15px;
            margin-right: 105px;
        }
        .index {
            width: 40px;
            text-align: center;
        }
        @media (max-width: 1094px) {
            display: none;
        }
    }
    .collection {
        padding-block: 5px;
        margin: 5.5px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        min-height: 80px;
        width: 100%;
        min-width: 395px;
        border-radius: 7.5px;
        cursor: pointer;
        opacity: 0.9;
        box-shadow: rgba(99, 99, 99, 0.1) 0px 4px 16px 0px;
        transform: scale(0.96);
        &:hover {
            transition: 0.1s;
            opacity: 1;
            transform: scale(1);
            background-color: rgba(0, 0, 0, 0.05);
        }
        p {
            font-weight: 500;
        }
        .title,
        .artist {
            width: 175px;
            text-align: center;
            word-break: break-word;
        }
        .avatar {
            border-radius: 7.5px;
            margin-inline: 15px;
        }
        .index {
            font-weight: bold;
            width: 40px;
            text-align: center;
        }
    }
}

.loadMore {
    display: flex;
    justify-self: center;
    align-self: center;
    margin-inline: auto;
    margin-block: 25px;
}
